container{
  background: aqua;
}
.addUserForm{
  background-color: aqua;
  height:auto;
  margin-top: 5px;
  padding: 60px;
}
.mb-1{
  width: 200px;
}
.mb-2{
  width: 200px;
  margin-left: 245px;
  margin-top: -70px;
}
.mb-3{
  width: 450px;
  
}
/* User List */
.UserList{
  background: rgba(79, 83, 83, 0.315);
  align-items: center;
  width: auto;
  margin-top: 10px;

}
/* User */
.user{
  background: coral;
  text-align: center;
  position: absolute;
  display: flex;
}